params {

        fastq = '/home/ines/temp/download/*_{1,2}.*'

        clearInput = false

        /*
        Component 'BCALM2'
        ---------------------------
        */
        bcalmKmerSize = 31

        /*
        Component 'GATBMINIAPIPELINE'
        ---------------------------
        */
        gatbkmer = '21,61,101,141,181'
        gatb_besst_iter = 10000
        GATB_error_correction = false

        /*
        Component 'MINIA'
        */
        miniakmer = 31

        /*
        Component: MEGAHIT
        */
        megahitKmers = '21,29,39,59,79,99,119,141'

        /*
        Component: METASPADES
        */
        metaspadesKmers = 'auto'

        /*
        Component: SPADES
        */
        spadesKmers = 'auto'

        /*
        Component: VELVETOPTIMIZER
        */
        velvetoptimizer_hashs = 19
        velvetoptimizer_hashe = 31

        /*
        Component: VELOUR
        */
        velourKmer = 31

        /*
        Component: FILTER_ASSEMBLY
        */
        minLength = 1000
}